In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'pandas'

In [ ]:
data = pd.read_excel("power quality dataset2.xlsx")

NameError: name 'pd' is not defined

In [ ]:
data.head()

      Max  Min     Std    Mean classification
0  1.5080  0.5  0.2049  0.9041            Sag
1  2.3773  0.1  0.3340  0.8905            Sag
2  1.2068  0.7  0.1262  0.9346            Sag
3  1.9127  0.3  0.2764  0.8877            Sag
4  1.0250  0.9  0.0429  0.9760            Sag

In [ ]:
data = data.sample(frac=1)

In [ ]:
data.head()

        Max     Min     Std    Mean classification
1    2.3773  0.1000  0.3340  0.8905            Sag
65   1.5729  0.9554  0.2241  1.1304          Swell
150  1.8020  0.3847  0.0679  1.0005      transient
86   1.1382  0.8620  0.0700  1.0026        flicker
18   1.1703  0.7300  0.1139  0.9402            Sag

In [ ]:
data.describe()

              Max         Min         Std        Mean
count  198.000000  198.000000  198.000000  198.000000
mean     1.364363    0.541332    4.758884    0.986998
std      0.293723    0.345129   64.302219    0.093321
min      1.018200    0.001300    0.015400    0.821200
25%      1.079750    0.223800    0.069700    0.894325
50%      1.286700    0.593050    0.185500    0.999250
75%      1.577900    0.848075    0.314400    1.037550
max      2.377300    0.991400  905.000000    1.225700

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198 entries, 1 to 80
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Max             198 non-null    float64
 1   Min             198 non-null    float64
 2   Std             198 non-null    float64
 3   Mean            198 non-null    float64
 4   classification  198 non-null    object
dtypes: float64(4), object(1)
memory usage: 9.3+ KB

In [ ]:
data['classification'].value_counts()

NameError: name 'data' is not defined

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
X = data.drop(columns ='classification')
y = data['classification']

In [4]:
X.head()

NameError: name 'X' is not defined

In [ ]:
y.head()

1            Sag
65         Swell
150    transient
86       flicker
18           Sag
Name: classification, dtype: object

In [ ]:
corr = X.corr()

In [ ]:
corr

           Max       Min       Std      Mean
Max   1.000000  0.110353 -0.032054  0.563440
Min   0.110353  1.000000  0.090079  0.718416
Std  -0.032054  0.090079  1.000000  0.050038
Mean  0.563440  0.718416  0.050038  1.000000

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

# K Neigbhors Classifier

In [ ]:
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
pred = knn.predict(X_test)
score = accuracy_score(y_test,pred)
print(score)
report = classification_report(y_test, pred)
print(report)

0.94
              precision    recall  f1-score   support

         Sag       1.00      0.62      0.77         8
       Swell       1.00      1.00      1.00         8
     flicker       1.00      1.00      1.00        11
interruption       0.89      1.00      0.94        16
   transient       0.88      1.00      0.93         7

    accuracy                           0.94        50
   macro avg       0.95      0.93      0.93        50
weighted avg       0.95      0.94      0.93        50

# Logistic Regression

In [ ]:
lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
score = accuracy_score(y_test,pred)
print(score)
report = classification_report(y_test,pred)
print(report)

0.82
              precision    recall  f1-score   support

         Sag       0.43      0.38      0.40         8
       Swell       1.00      1.00      1.00         8
     flicker       1.00      0.64      0.78        11
interruption       0.89      1.00      0.94        16
   transient       0.70      1.00      0.82         7

    accuracy                           0.82        50
   macro avg       0.80      0.80      0.79        50
weighted avg       0.83      0.82      0.81        50

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

# Decision Tree Classifier

In [ ]:
dtc= DecisionTreeClassifier()
dtc.fit(X_train,y_train)
pred = dtc.predict(X_test)
score = accuracy_score(y_test,pred)
print(score)
report = classification_report(y_test,pred)
print(report)

0.96
              precision    recall  f1-score   support

         Sag       1.00      1.00      1.00         8
       Swell       1.00      1.00      1.00         8
     flicker       0.85      1.00      0.92        11
interruption       1.00      1.00      1.00        16
   transient       1.00      0.71      0.83         7

    accuracy                           0.96        50
   macro avg       0.97      0.94      0.95        50
weighted avg       0.97      0.96      0.96        50

# Random Forest Classifier

In [ ]:
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)
pred = rfc.predict(X_test)
score = accuracy_score(y_test,pred)
print(score)
report = classification_report(y_test,pred)
print(report)

0.96
              precision    recall  f1-score   support

         Sag       1.00      1.00      1.00         8
       Swell       1.00      1.00      1.00         8
     flicker       0.85      1.00      0.92        11
interruption       1.00      1.00      1.00        16
   transient       1.00      0.71      0.83         7

    accuracy                           0.96        50
   macro avg       0.97      0.94      0.95        50
weighted avg       0.97      0.96      0.96        50